:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
  --red: #FE142F;
  --green: #279e7a;
  --background-dark: #232323;
  --form-border: #c4c4c4;
  --border-radius: 8px;
}

*, *::before, *::after {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
}

/* Landing Page */

body {
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: var(--font-default);
  font-size: 16px;
  
}

/**
 * Header
 */

.header {
  display: flex; justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
  padding: 53px 30px;
}

.header-logo {
    height: 50px;
}

.header-nav {
    display: flex;
    gap: 5px;
}
.header-nav a {
  display: flex; align-items: center;
  padding: 0 17px;
  height: 41px;
  border-radius: var(--border-radius);
  color: #000000;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500; 
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.header-nav a:hover, .header-nav a.active {
  background-color: var(--red);
  color: #ffffff;
}

.header-nav a.active {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header-toggle {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header {
    flex-wrap: wrap;
    padding-top: 33px;
    padding-bottom: 0;
  }
  .header-logo img {
    height: 20px;
  }
  .header-nav {
    width: 100%;
  }
}
@media screen and (max-width: 830px) {
  .header-logo {
    width: 50%;
  }
  .header-toggle {
    display: block;
    width: 20px; height: 20px;
    background-color: transparent;
    border: none;
    color: var(--red);
    font-size: 24px;
  }
  .header-nav {
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: height .3s ease-in-out;
  }
  .menu-open .header-nav {
    height: 179px;
  }
  .header-nav a {
    flex-shrink: 0;
    height: 41px;
  }
}

/**
 * Main
 */
main {
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px 30px;;
}
@media screen and (max-width: 1000px) {
  main {
    padding: 0 30px;
  }
  
}

/**
 * Hero
 */

.hero-section {
  display: flex; justify-content: stretch;
  border-radius: var(--border-radius);
  border-radius: var(--border-radius);
  background: var(--background-dark);
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.hero-content {
  display: flex; flex-direction: column ;
  gap: 73px;
  width: 480px;
  padding: 53px 30px 70px 56px;
  color: #fff;
}
.hero-headline {
  position: relative;
  white-space: nowrap;
  font-size: 96px;
  line-height: 125px;
  font-weight: 500;
}
.hero-text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
.btn-signup {
  margin-right: auto;
  padding: 11px 26px;
  border-radius: var(--border-radius);
  background-color: var(--red);
  border: 0;
  color: #fff;
  font-size: 25px;
  line-height: 32px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
.btn-signup:hover {
  background: #3876ac;
}
.hero-img {
  flex-grow: 1;
  overflow: hidden;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 10 / 9;
}
@media screen and (max-width: 1000px) {
  .hero-section {
    position: relative;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 60px;
    background: none;
    box-shadow: none;
  }
  .hero-content {
    display: flex; flex-direction: column ;
    gap: 25px;
    width: 100%;
    padding: 0;
    color: #000000;
  }
  .hero-headline {
    font-size: 48px;
    line-height: 60px;
    font-weight: 500;
    white-space: nowrap;
  }
  .hero-text {
    font-size: 13px;
    line-height: 17px;
  }
  
  .hero-img {
    flex-grow: 0;
    overflow: initial;
    border-radius: 0;
  }
  .hero-img img {
    height: initial;
    border-radius: var(--border-radius);
  }
  .btn-signup {
    position: absolute; left: 50%; bottom: 0;
    padding: 1px 26px;
    font-size: 14px;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 830px) {
  .hero-headline {
    white-space: normal;
  }
}

/**
 * Footer
 */

footer {
  max-width: 1380px;
  margin: 79px auto 63px;
  padding: 20px 0;
}

.copyrights {
  color: var(--red);
  font-family: roboto;
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  footer {
    max-width: 1380px;
    margin: 29px auto 26px;
    padding: 0;
    text-align: center;
  }
}
/**
 * Modal
 */

.backdrop {
  position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1;
  display: none;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
  animation: animate-backdrop var(--modal-duration) linear;
}
.modal-open .backdrop {
  display: block;
}
@keyframes animate-backdrop {
  from { background-color: rgba(26, 39, 156, 0); }
  to { background-color: rgba(26, 39, 156, 0.4); }
}

.content {
  position: relative;
  width: 100%;
  max-width: 536px;
  border-radius: var(--border-radius);
  background: var(--background-dark);
  color: #fff;
  animation: animate-modal var(--modal-duration) linear;
  margin: 87px auto;
  padding: 42px 39px 18px;
}

@keyframes animate-modal {
  from { opacity: 0; transform: translateY(-150px); }
  to { opacity: 1; }
}

.close {
  position: absolute; top: 25px; right: 25px; 
  width: 32px; height: 32px;
  cursor: pointer;
  transform: scale(0.5);
}
.close:before, .close:after {
  position: absolute; left: 15px;
  width: 3px; height: 33px;
  content: "";
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
@media screen and (max-width: 536px) {
  .backdrop {
    background-color: transparent;
    animation: none;
  }
  .content {
    margin-bottom: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}
/**
 * Thanks
 */
.booking-thanks {
  display: flex; flex-direction: column; align-items: center;
  /*height: 789px;*/
  height: 600px;
}
.booking-thanks-message {
  flex-grow: 1;
  display: flex; align-items: center;
  width: 309px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

/**
 * Form
 */
.form-group {
  display: flex; flex-wrap: wrap; gap: 6px 25px;
}
.form-group[data-error]::after {
  display: block;
  width: 100%;
  content: attr(data-error);
  color: #FF4E60;
  font-size: 10px;
  font-family: Roboto;
  margin-bottom: 6px;
  transition: opacity .2s linear;
  opacity: 0;
}
.form-group[data-error-visible="true"]::after {
  opacity: 1;
}
.form-group:not([data-error])::after {
  display: block;
  width: 100%; height: 13px;
  content: '';
}
.form-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
}
.form-control {
  display: block;
  width: 100%; height: 58px;
  padding: 8px 20px;
  border-radius: var(--border-radius);
  background-color: #ffffff;
  border: 1px solid var(--form-border);
  outline: none;
  font-size: 20px;
}
.form-group[data-error-visible="true"] .text-control {
  border: 2px solid #FF4E60;
}
.form-check-input {
  display: none;
}
.form-check-label {
  display: flex; align-items: center;
  gap: 6px;
  font-size: 12px;
}
.form-check-icon {
  display: flex; justify-content: center; align-items: center;
  width: 25px; height: 25px;
  border-radius: 50%;
  border: 1px solid var(--form-border);
  transition: all .3s ease-in-out;
}
.form-check-input[type='radio'] + .form-check-label .form-check-icon {
  border-radius: 50%;
}
.form-check-input[type='checkbox'] + .form-check-label .form-check-icon {
  background-color: var(--form-border);
  border-radius: 6px;
}
.form-check-input[type='radio'] + .form-check-label .form-check-icon::before {
  display: block;
  width: 17px; height: 17px;
  content: '';
  border-radius: 50%;
  background-color: var(--background-dark);
  transition: background-color .3s ease-in-out;
}
.form-check-input[type='radio']:checked + .form-check-label .form-check-icon {
  border-color: var(--green);
}
.form-check-input[type='radio']:checked + .form-check-label > .form-check-icon::before {
  background-color: var(--green);
}
.form-check-input[type='checkbox'] + .form-check-label .form-check-icon::before {
  display: block;
  width: 10px; height: 6px;
  content: '';
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-color: var(--form-border);
  transition: border-color .3s ease-in-out;
  transform: translate(0, -2px) rotate(-45deg);
}
.form-check-input[type='checkbox']:checked + .form-check-label .form-check-icon {
  background-color: var(--green);
  border-color: var(--green);
}
.form-check-input[type='checkbox']:checked + .form-check-label > .form-check-icon::before {
  border-color: #ffffff;
}
.form-submit {
  display: block;
  margin: 5px auto 0;
  padding: 12px 82px;
  border-radius: var(--border-radius);
  background: var(--red);
  border: 0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (max-width: 536px) {
  .form-control {
    height: 50px;
  }
  .form-check-icon {
    width: 20px; height: 20px;
  }
  .form-check-input[type='radio'] + .form-check-label .form-check-icon::before {
    width: 14px; height: 14px;
  }
  .form-check-input[type='checkbox'] + .form-check-label .form-check-icon::before {
    width: 8px; height: 5px;
    transition: border-color .3s ease-in-out;
    transform: translate(0, -2px) rotate(-45deg);
  }
  .form-submit {
    padding: 9px 60px;
  }
}